/*Configurações gerais*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/* Configuração do botão "Voltar ao Topo" */

.back-to-top {
    position: fixed;
    cursor: pointer;
    background-color: #8374E3;
    color: #fff;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 3px #000;
    transition: all 0.3s ease-in-out;
}

.back-to-top:hover {
    transform: scale(1.1);
}

/* Configurações do menu */
.header-menu{
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #8374E3;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 10px;
    width: 50%;
    padding: 8px;
    margin: 40px auto;
    transform: translateY(-80px); /* Menu inicia fora da tela */
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 7px #000; 
    box-shadow: 1px 1px 3px #000;  
}

.logo {
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

#navbar {
    color: #fff;
    margin-right: 10px;
}

/* Configuração dos links do menu*/
#navbar button {
    cursor: pointer;
    border: none;
    background-color: #8374E3;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    text-shadow: 1px 1px 7px #000;
    transition: all 0.3s ease-in-out;
}

#navbar button:hover {
    transform: scale(1.1);
}

/* Configuração do menu de navegação lateral */
.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #000;
    border-radius: 10px;
    width: 18%;
    padding: 10px;
    margin-left: 5%;
    box-shadow: 1px 1px 3px #000;
}

.menu-title {
    margin: 5px;
    width: 100%;
    box-shadow: 1px 1px 2px #000;
}

.menu-title h3 {
    margin-left: 5%;
}

.section-title{
    border-bottom: none;
    width: 100%;
    margin: 10px 0;
    transition: border-bottom 0.3s ease-in-out;
}

.section-title:active {
    border-bottom: 1px solid #8374E3 !important;
}

.contents-list ul {
    margin: 5px 10px;
    padding-left: 0;
}

.contents-list li {
    margin: 1px 0;
}

.contents-list a {
    color: inherit; /* Mantendo a cor do texto consistente*/
    transition: color 0.3s ease; 
}

.contents-list a:hover {
    color: #8374E3; /* Mudando a cor ao passar o mouse*/
}


/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(-2em, 0, 0);
  }


/*Configuração da parte principal do código*/
.main-contents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
 }

/* Configurando a seção de animação e efeitos*/
.code-invisible{ /* Classe geral para esconder o código */
    display: none;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%; 
    margin-bottom: 3rem;
}

.section h2 {    
    padding: 2px;
    margin: 30px 0;
    text-shadow: 1px 1px 5px #000;
}

.code-title {
    color: #fff;
    margin: 10px 0;
    text-shadow: 1px 1px 5px #000;
}

.code-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #312C2C;
    width: 100%;
    min-height: 450px; /* Altura mínima para a caixa de código */
    padding: 10px 50px;
    margin: 15% 0;
    transform: translate(-50px, -30px);  
}

.nav-buttons {
    display: flex;
    justify-content: center;
	align-items: center;
	color: #000000;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 40%;
	box-shadow: 1px  1px 1px #000;
}

.nav-buttons button {
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2px;
    margin: 0 10px;
    text-shadow: 1px 1px 7px #000;
    transition: all 0.3s ease-in-out;
}

.nav-buttons button:hover {
    background-color: #312C2C;
    color: #fff;
}

.animated-button { /*Configuração geral dos botões*/
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}

/*Configuração dos titulos e os códigos*/
.code-box h3 {
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.code-area { /*Classe usada para a caixa de código tanto pra CSS,HTML e JavaScript*/
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 3px;
    max-width: 390px;
    padding: 10px;
    margin: 25% 0;
}

pre {
    background-color: #fff;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    height: 250px;
    box-shadow: 1px 1px 3px #000;
    overflow-y: scroll;
}

.result-area {
    margin-bottom: 7rem;
    
}

/*Configuração do primeiro botão hover*/

.shadow-hover-button {
    border: 1px solid #000;
    box-shadow: 0 0 0;
    transition: all 200ms ;
}

.shadow-hover-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 1px #141211;
}

.shadow-hover-button:active {
    transform: translateY(10px);
    box-shadow: 0 0 0;
}  

/* Configuração do segundo botão hover */
.hover-underline {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #ffffff;
    background: none;
    border: 1px solid #312C2C;
}
  
.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #8374E3, #ffffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
  
.hover-underline::before {
    top: -5px;
    transform-origin: left;
}
  
.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}
  
/* Configuração do terceiro botão hover */
.hover-glitch {
    position: relative;
    cursor: pointer;
    background: none;
    border: 2px solid #646cff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.3s ease;

}

.glitch{
    text-shadow: 0.05em 0 0
    rgba(255, 0, 0, 0.75)
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75)
            0.025em 0.05em 0 rgba(0, 255, 0, 0.75);
}

.glitch:hover {
    animation: glitch 0.03s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-4px, 4px);
    }
    40% {
        transform: translate(-4px, -4px);
    }
    60% {
        transform: translate(4px, 4px);
    }
    80% {
        transform: translate(4px, -4px);
    }
    100% {
        transform: translate(0);
    }
}

/* Configuração do quarto botão hover */
.liquid-fill-hover{
    position: relative;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #646cff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.liquid {
    background: linear-gradient(#646cff 0 0) no-repeat
    calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

/* Animation area */
.animation-area {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 3px;
    max-width: 390px;
    padding: 10px;
    margin: 25% 0;
}
/* Configuração do primeiro botão com animação */
.ripple-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #646cff;
    border-radius: 5px;
    border: none;
    color: #fff;
    outline: none;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.ripple-button:focus {
    outline: none;
}

.ripple-button:hover {
    background-color: #4a54f1; /* Cor ao passar o mouse */
}

.ripple{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* Configuração do segundo botão com animação */
.shadowIn-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: none;
    border: 2px solid #646cff;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 5px 5px 3px #646cff;
    transition: box-shadow 0.3s ease;
}

.shadowIn-button:active {
    box-shadow: 0 0 0;
}

.shadow-in {
    box-shadow: 15px 10px 5px rgb(135, 141, 250) inset;
    transition: all 0.5s ease-out;
}

/* Configuração do terceiro botão com animação */
.pulse-button {
    position: relative;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}

.pulse {
    background-color: #3498db;
    color: white;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(52, 152, 219, 0.7);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 0 rgba(52, 152, 219, 0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(52, 152, 219, 0);   
    }
}

/* Configuração do switch button */
.switch-button {
    position: relative;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    width: 100px;
    height: 50px;

}
.switch-label {
    position: absolute;
    cursor: pointer;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 25px;
    width: 100%;
    height: 50px;
    transform: translate(-50px, -30px);
    box-shadow: 2px 2px 3px #000;
}
.checkbox {
    position: absolute;
    display: none;
}
.slide {
    position: absolute;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.checkbox:checked ~ .slide {
    transform: translateX(0px);
    background-color: var(--light);
}
.slide::before{
    content: "";
    position: absolute;
    background-color: var(--dark);
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    -webkit-transition: 0.3s;
    top: 10px;
    left: 25px;
    width: 30px;
    height: 30px;
    box-shadow: inset 12px -4px 0px 0px var(--light);
    transition: 0.3s;
}
.checkbox:checked ~ .slide::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -webkit-box-shadow: none;
    background-color: var(--dark);
    transform: translateX(50px);
    box-shadow: none;
}

/* Configuração do footer*/

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8374E3;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin: 15px 15px;
    transition: all 0.3s ease-in-out;  
    box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 7px #000;

    & h2, p {
        margin: 0 30px;
    }
}








